.container {
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: -10px;
        li {
            list-style-type: none;
            margin-right: 10px;
            &.active {
                button {
                    background: #9CE89A;
                    color: white;
                }
            }
            button {
                padding: 15px 20px;
                border-radius: 5px;
                background: #eeee;
                color: #333;
                border: none;
                cursor: pointer;
                &:hover {
                    background: #9CE89A;
                    color: white;
                }
            }
        }
    }
}