@import '../../styles/global';
.container {
  width: 80%;
  margin: 0 auto;
  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1rem;
    justify-content: center;

    svg {
      margin-right: 10px;
      display: block;
      color: $sub;
      margin-left: 15px;
      width: 30px;
      height: 30px;
      background: white;
      padding: 5px;
    }
  }

  // carousel
  .carousel {
    .slide {
      background: none;
    }
  }
}
