@import '../../styles/global';

.property-details {
  background: $ghost_white;
}

// info
.info {
  padding: 50px 0;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > span {
    text-transform: capitalize;
    display: block;
    margin-bottom: 10px;
  }

  .showcaseDetails {
    // price
    &Price {
      h2 {
        font-weight: $bold;
        margin-right: 10px;
      }

      .address {
        margin: 15px 0;

        .tags {
          margin-top: 10px;
          span {
            padding: 5px;
            background-color: $sub;
            padding: 5px 10px;
            border-radius: 5px;
            opacity: 0.8;
          }
        }
      }
    }

    // info
    &Info {
      display: flex;
      flex-direction: row;
      align-items: center;
      div {
        margin-right: 20px;
        svg {
          margin-right: 5px;
        }
      }
    }
  }
}
.carousel {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
