@import '../../styles/global.scss';
.price {
  // price
  padding: 20px;
  form {
    display: flex;
    flex-direction: row;
    & > .form_group {
      margin-right: 20px;
    }

    .form_group {
      display: flex;
      flex-direction: row;
      span {
        background: $sub;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 8px 15px;
        color: white;
        font-weight: $bold;
      }
      input {
        background: $filter_color;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        padding: 5px;
        border: none;
        width: 100%;
        &::placeholder {
          opacity: 0.3;
        }
      }
    }
  }
}
