@import '../../styles/global';
.container {
  position: relative;

  .view {
    position: relative;
    animation: slideInLeft 0.3s ease;
    display: block;
  }
  .default {
    animation: slideInRight 0.3s ease;
    display: none;
  }

  .grid {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-gap: 50px;

    .grid_container {
      padding: 0px 50px 50px 0px;
    }
  }

  .list {
    padding: 0px 0px 50px 50px;
    .list_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
    }
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(110%); // left side 110%
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(110%);
  }
}

@media (max-width: 768px) {
  .container {
    .grid {
      grid-template-areas:
        'grid'
        'filter';
      grid-template-columns: 1fr;
      .grid_container {
        grid-area: grid;
        padding: 50px;
      }
      .filter_container {
        grid-area: filter;
        padding: 0 50px 50px 50px;
      }
    }
  }
}
