// Colors
$ghost_white: #f6f6f6;
$most_used: #333;
$sub: #9ce89a;
$main: #a7ff83;
$filter_color: #ebebeb;

// Font weights
$regular: 400;
$semiBold: 600;
$bold: 700;

// Box shadows
$box_shadow_1: 0px 0px 25px rgba(0, 0, 0, 0.1);
$box_shadow_2: 0 0 15px
  rgba(
    $color: $main,
    $alpha: 0.5,
  );
