// Colors
$ghost_white: #F6F6F6; 
$most_used: #333;
$sub: #9CE89A;
$filter_color: #EBEBEB;

// Font weights
$regular: 400;
$semiBold: 600;
$bold: 700;

// Box shadows
$box_shadow_1: 0px 0px 25px rgba(0, 0, 0, .1);
