@import '../../styles/global';

.container {
    display: flex;
    flex-direction: column;
    box-shadow: $box_shadow_1;
    z-index: 1;
    h4 { // local h4
        font-weight: $regular;
        margin-bottom: 15px;
    }
    .header { // header
        background: $ghost_white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
}