@import '../../styles/global';
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  box-shadow: $box_shadow_1;
  width: 100%;
  z-index: 12415123;
  background-color: white;

  // wrapper menu
  .menu {
    width: 100%;
    position: relative;
  }

  //   logo
  .logo {
    width: 100%;
    img {
      width: 50px;
    }
  }

  // auth
  .auth {
    width: 100%;
    display: flex;
    button {
      margin-left: auto;
    }
  }
}
