.container {
  /* display: grid; */
  grid-gap: 10px;
  /* grid-template-columns: 1fr 1fr; */
  position: absolute;
  right: 5%;
  top: 40px;
  z-index: 326235;
  transform: translateX(25%);
}
span {
  cursor: pointer;
  margin-right: 5px;
}
span svg {
  color: #333;
  opacity: 0.3;
}
span.active svg {
  opacity: 1;
}
