@import '../../styles/global';
.container {
  // footer 1
  z-index: 0;
  .footer1 {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    padding-top: 50px;

    // social
    .social {
      li {
        margin-bottom: 10px;
        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          svg {
            font-size: 1.2rem;
            margin-right: 10px;
            background: $sub;
            padding: 5px;
            border-radius: 5px;
            width: 30px;
            height: 30px;
            color: white;
          }
        }
      }
    }

    // download
    .apps {
      li {
        margin-bottom: 5px;
        a {
          display: flex;
          width: 50%;
          text-align: center;
          border: 2px solid $most_used;
          padding: 10px;
          border-radius: 5px;
          align-items: center;
          justify-content: center;
          svg {
            font-size: 1.5rem;
            margin-right: 10px;
          }
        }
      }
    }

    ul {
      margin-top: 20px;
      li {
        list-style-type: none;
        a {
          color: $most_used;
          text-decoration: none;
        }
      }
    }
  }

  // footer 2
  .footer2 {
    margin: 0 auto;
    .nav,
    .report {
      margin: 0 auto;
      width: 80%;
    }
    .nav {
      text-align: center;
      padding: 50px 0;
      border-bottom: 1.5px solid rgba($color: $most_used, $alpha: 0.5);

      // menu
      ul {
        display: grid;
        grid-gap: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            color: black;
            font-size: 1.2rem;
          }
        }
      }

      // do not sell my info
      .doNotSellInformation {
        padding-top: 10px;
        a {
          text-decoration: underline;
          color: $sub;
          font-size: 1.1rem;
        }
      }
    }

    // report
    .report {
      padding: 50px 0;
      text-align: center;

      p {
        width: 80%;
        margin: 0 auto;
        font-size: 0.8rem;
      }
    }

    // social
    .social {
      display: grid;
      grid-gap: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-bottom: 50px;

      img {
        width: 50px;
      }

      h6 {
        font-size: 2rem;
        color: $sub;
        font-weight: $bold;
        font-style: italic;
      }

      .socialIcons {
        display: grid;
        grid-gap: 5px;
        display: flex;
        flex-direction: row;
        li {
          list-style-type: none;
          background: $sub;
          border-radius: 5px;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            font-optical-sizing: 1.5rem;
            color: white;
          }
        }
      }
    }

    // building showcase
    .building {
      height: 300px;

      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  }
}
