@import '../../styles/global';
.beds {
    padding: 20px;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap ;
        align-items: center;
        margin-right: -10px;
        margin-bottom: -10px;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 12px;
            border-radius: 5px;
            background: $filter_color;
            list-style-type: none; 
            color: $most_used;
            cursor: pointer;
            margin-right: 10px;
            margin-bottom: 10px;
            span {
                opacity: .3;
            }
            &.active {
                background: $sub;
                color: white;
                span {
                    opacity: 1;
                }
            }
        }
    }
}