@import '../../styles/global';
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;

  span {
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: $bold;
    opacity: 0.3;
  }
  h4 {
    font-weight: $regular;
  }

  .phones,
  .slogan,
  .broker {
    & > div {
      margin-bottom: 15px;
    }
  }

  .last {
    margin-top: 15px;
  }

  .phones {
    display: flex;
    flex-direction: column;
  }
}
