@import './styles/font'; // imported font
@import './styles/global'; // global variables
@import './styles/button'; // button styles
@import './styles/accordion'; // accordion active
@import './styles/carousel'; // carousel
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Nunito', sans-serif;
  font-weight: $regular;
  outline: none;
  min-height: 100vh;
}

#page-container {
  background-color: $ghost_white;
}

// input and buttons
input:focus,
button:focus {
  outline: none;
}

// links
a {
  transition: all 0.2s ease;
}
a:hover {
  opacity: 0.7;
}

// heading
h2 {
  font-weight: $regular;
}

// carousel
.carousel-root {
  height: 100%;
}

// map
.leaflet-container {
  height: 100vh;
}

// marker
.marker {
  .leaflet-popup {
    margin-bottom: 0 !important;
    box-shadow: none !important;
    top: -80px !important;
  }

  .leaflet-popup-tip-container {
    display: none !important;
  }

  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    box-shadow: none !important;
  }
}

// primary-button
button.primary-button {
  background: none;
  border: none;
  a {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background: $sub;
    padding: 10px 40px;
    box-shadow: 0 0 15px rgba($color: $sub, $alpha: 0.1);
    color: $ghost_white;
    text-decoration: none;
    border: none;
    border-radius: 30px;
  }
}

// table row
tr {
  text-align: left;
  th {
    padding: 10px 0;
  }
  td {
    padding: 5px 0;
  }
}

// rating
.school-rating {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 25px;
  height: 25px;
  color: white;
  border-radius: 15px;
  padding: 15px;
}

.school-rating-high {
  background: green;
}
.school-rating-med {
  background: $sub;
}
.school-rating-low {
  background: red;
}

// property related
.property-related {
  .carousel {
    // each individual slides
    .slide {
      background: none;
    }

    button.control-arrow.control-next {
      right: -30px;
    }

    button.control-arrow.control-prev {
      left: -30px;
    }

    button.control-arrow.control-next:hover,
    button.control-arrow.control-prev:hover {
      background: none !important;
    }
    .control-next.control-arrow:before {
      border-left: 15px solid $sub !important;
    }

    .control-prev.control-arrow:before {
      border-right: 15px solid $sub !important;
    }
  }
}

// carousel slider-wrapper
.carousel .slider-wrapper {
  overflow-x: scroll !important;
  &::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }

  &:hover {
    &::-webkit-scrollbar {
      background: white;
    }
    &::-webkit-scrollbar-thumb {
      background: $sub;
      border-radius: 10px;
    }
  }
}
