@import './styles/font'; // imported font
@import './styles/global'; // global variables
@import './styles/button'; // button styles
@import './styles/accordion'; // accordion active
@import './styles/carousel'; // carousel
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Nunito', sans-serif;
  font-weight: $regular;
  outline: none;
}

input:focus,
button:focus {
  outline: none;
}

h2 {
  font-weight: $regular;
}

.carousel-root {
  height: 100%;
}

// map
.leaflet-container {
  height: 100vh;
}

// marker
.marker {
  .leaflet-popup {
    margin-bottom: 0 !important;
    box-shadow: none !important;
    top: -80px !important;
  }

  .leaflet-popup-tip-container {
    display: none !important;
  }

  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    box-shadow: none !important;
  }
}
